a { color: #696969; }
a:visited { color: #666; }
a:hover { color: #000; }

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 200px;
    padding: 7px;
    margin-bottom: 20px;
    background-color: #F4A460;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 32px;
}

form {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

input {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de; 
    background-color: #EDF2F7;
}

#menu-bar {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    line-height: 1.6em;
    padding: 3px;
    background-color: LightGreen;
}

.alertbar {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 12px;
    text-align: left;
    width: 100%;
    line-height: 1.6em;
    padding: 3px;
    background-color: Red;
}

.navbar {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: right;
    width: 100%;
    line-height: 1.6em;
    padding: 3px;
    background-color: LightBlue;
}