/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */


/* -------------- top row --------------- */
div.dokuwiki {
  margin-left: 50px;
}

div.dokuwiki p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6em;
    margin-bottom: 1.3em;
}

div.dokuwiki .header {
  height: 35px;
  padding: 2px 0 2px 2px;
}

div.dokuwiki .pagename {
  float: right;
  font-size: 24pt;
  font-family: "Baskerville","Palatino","Georgia",serif;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  margin-top: -20px;
}

div.dokuwiki .pagename a {
  text-decoration: none !important;
}

div.dokuwiki .logo {
  font-family: "Baskerville","Palatino","Georgia",serif;
  font-size: 125px;
  text-align: center;
  vertical-align: middle;
  margin-top: -20px;
  padding: 0 0 0 0;
}

div.dokuwiki .logo a, div.dokuwiki .logo a:visited, div.dokuwiki .logo a:link {
  text-decoration: none !important;
  font-variant: lowercase;
}

div.dokuwiki .tagline {
  font-family: "Baskerville","Palatino","Georgia",serif;
  font-size: 1.3em;
  font-weight: normal;
  font-style: italic;
  color: #888888;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -40px;
  padding: 0 0 0 0;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  padding-bottom: 7em;
  clear: both;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  position: absolute;
  text-align: right;
}

div.dokuwiki #bar__bottom {
  margin-bottom:3px;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.meta div.doc{
  text-align: right;
}


/* ---- Current ID highlighting ---- */
div.dokuwiki .curid {
  font-weight: bold;
}

	