<div class="content">

	<div class="slogan group">
	
		<h2>Getting started with rock</h2>
		<p>The <i>ooc</i> language was originally implemented in java. The compiler was called <i>ooc</i>, or </i>j/ooc</i>. After several revisions of language optimizations (and great courage), a new compiler was born, <i>rock</i>. The self-hosting aspect of the language is evident through <i>rock</i>, the compiler written in <i>ooc</i>. <i>j/ooc</i> has been left between a rock and a hard place ever since. References to <i>ooc</i> target the language, while references to <i>rock</i> target the actual compiler that takes <i>ooc</i> code (typically .ooc file extension), translates it to <a href="http://en.wikipedia.org/wiki/C99">c99</a> code, and then compiles it into a binary file.</p>
	
	</div><!-- end .slogan -->

	<div class="inner-content group">
	
		<div class="main group">
		
			<ul class="services">
				<li>
					<h5>Clone <i>rock</i></h5>
					<p><i><b>git clone git@github.com:nddrylliog/rock.git</b></i></p>
				</li>
				<li>
					<h5>Change directory</h5>
					<p><i><b>cd rock</b></i></p>
				</li>
				<li>
					<h5>Prepare the source</h5>
					<p><b>Download <a href="http://github.com/downloads/nddrylliog/rock/rock-0.9.2-prealpha3-bootstrap-only.tar.bz2">boostrap source</a> and extract into the root of the rock directory. A folder called <i>build</i> should appear</b></p>
				</li>
				<li>
					<h5>Compile</h5>
					<p><i><b>make</b></i></p>
				</li>
				<li>
					<h5>Set up environmental variables</h5>
					<p><i><b>export ROCK_DIST=/path/to/rock</b></i></p>
					<p><i><b>export PATH=$ROCK_DIST/bin:$PATH</b></i></p>
				</li>
				<li>
					<h5>If you use Windows</h5>
					<p><b>Download <a href="http://github.com/downloads/nddrylliog/rock/rock-0.9.1-win32.tar.bz2">this</a> precompiled binary version</b></p>
				</li>
			</ul>
			
			<div class="tagline">
				<h3>Now, that wasn't so hard, was it?</h3>
				<p>You are now ready to get started. Follow the guides, read the docs, watch the screencasts, join the irc channel, and enjoy life to the fullest! </p>
			</div><!-- end. tagline -->
														
		</div><!-- end .main -->
		
		<div class="sidebar group">
		
			<div class="widget">
				<h3>Words of wisdom</h3>
				<blockquote>
					<h4>I think ooc has probably made programming more interesting and enjoyable than I've found it to be in recent years.</h4>
				</blockquote>
				<cite><a href="http://github.com/Nilium">Nilium</a></cite>
				
				<blockquote>
					<h4>It's like a faster and more powerful Java that isn't so obsessed with objects and classes.</h4>
				</blockquote>
				<cite><a href="http://github.com/Oddity007">Oddity007</a></cite>
				
				<blockquote>
					<h4>ooc is awesome.</h4>
				</blockquote>
				<cite><a href="http://github.com/danopia">danopia</a></cite>
				
			</div><!-- end .widget -->
		
		</div><!-- end .sidebar -->
	
	</div><!-- end. inner-content -->

</div><!-- end .content -->