<div class="content">

	<div class="inner-content group">
	
		<div class="main group">
		
			<% form_for(@category) do |f| %>
			<%= f.error_messages %>
			<p>
				<%= f.label :name %><br /><br />
				<%= f.text_field :name %>
			</p>
			<br />
			<p>
				<%= f.submit 'Edit Category' %>
			</p>
			<% end %>
														
		</div><!-- end .main -->
	
	</div><!-- end. inner-content -->

</div><!-- end .content -->

	<div id="maincol">
		
	</div>

</div>