<!DOCTYPE html>
<html>
  <head>
    <link href="/css/alpaca.css" media="screen" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <title>alpaca</title>
  </head>
  <body>
    <div class="site">
      <div class="title">alpaca<span class="extra">official ooc build system</span></div>

      <div id="home">
				<h1><a href="http://github.com/nddrylliog/rock">rock</a></h1>
				<ul style="list-style-type: none;" class="posts">
					<li><%= raw @linux %></li>
					<br/>
					<li><code style="font-size:20px;">Get <%= link_to @link[2], @link[1] %> (Choose 1 method):</code></li>
					<ul style="padding-left: 50px; font-size: 40px; font-family: 'Reenie Beanie', arial, serif;">
					<li><a style="color:orange; text-decoration:none;" href="http://commondatastorage.googleapis.com/rock-linux/rock-bootstrap.tar.bz2">Bootstrap <b style="color:#FFCC55; font-size:35px">run "make"</b></a></li>
					<li><a style="color:blue; text-decoration:none;" href="http://commondatastorage.googleapis.com/rock-linux/rock-bootstrap-only.tar.bz2">C Source <b style="color:#5599FF; font-size:35px">manual bootstrapping</b></a></li>
					<li><a style="color:green; text-decoration:none;"href="http://commondatastorage.googleapis.com/rock-linux/rock.tar.bz2">Linux <b style="color:#32CD32; font-size:30px">64-bit</b></a></li>
					<ul>
				</ul>
      </div>

      <div class="footer">
        <div class="contact">
          <p>
            <a href="/">ooc-lang</a><br/>
            <a href="http://webchat.freenode.net/?nick=llama_.....&channels=ooc-lang&uio=OT10cnVlJjExPTIwNQa5">community</a><br/>
            <a href="http://twitter.com/ooc_lang">twitter</a><br/>
						<a href="http://github.com/defunkt/cijoe">cijoe</a>
          </p>
        </div>
        <div class="contact">
          <p>
            Homepage<br/>
            #ooc-lang on irc.freenode.net<br/>
            Follow us<br/>
						Continuous Integration server
          </p>
        </div>        
      </div>
    </div>
  </body>
</html>