<!DOCTYPE html>
<html>
  <head>
    <link href="/css/alpaca.css" media="screen" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <title>alpaca</title>
  </head>
  <body>
    <div class="site">
      <div class="title">
        alpaca
        <span class="extra">official ooc build system</span>
      </div>

      <div id="home">
				<h1><a href="http://github.com/nddrylliog/rock">rock</a></h1>
				<ul class="posts">
					<li><%= raw @linux %></li>
					<br/><br/>
					<li><code>Distributions:</code></li>
					<br/><br/>
					<li style="padding-left: 30px"><a style="text-decoration: none; font-size: 50px; font-family: 'Reenie Beanie', arial, serif; color:orange;" href="http://commondatastorage.googleapis.com/rock-linux/rock-bootstrap.tar.bz2">Bootstrap</a></li>
					<br/><br/>
					<li style="padding-left: 30px"><a style="text-decoration: none; font-size: 50px; font-family: 'Reenie Beanie', arial, serif; color:green;" href="http://commondatastorage.googleapis.com/rock-linux/rock.tar.bz2">Linux</a></li>
				</ul>
      </div>

      <div class="footer">
        <div class="contact">
          <p>
            <a href="/">ooc-lang</a><br/>
            <a href="http://webchat.freenode.net/?nick=llama_.....&channels=ooc-lang&uio=OT10cnVlJjExPTIwNQa5">community</a><br/>
            <a href="http://twitter.com/ooc_lang">twitter</a><br/>
						<a href="http://github.com/defunkt/cijoe">cijoe</a>
          </p>
        </div>
        <div class="contact">
          <p>
            Homepage<br/>
            #ooc-lang on irc.freenode.net<br/>
            Follow us<br/>
						Continuous Integration server
          </p>
        </div>        
      </div>
    </div>
  </body>
</html>